<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>lea s.s jeon</title>
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body style= "background-color: gray">
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<center>
			<h1>Hi? Let Me Introduce Myself!</h1>
	
	</center>


	<center>
		<img src="https://scontent-a.xx.fbcdn.net/hphotos-xpa1/t1.0-9/10013848_611835062233222_1732352962_n.jpg" alt="">
	</center>

	<center>
	<div>
			<ul>
				<strong><p class="name">Lea Seongsook Jeon</p></strong>
				<p>-born in 1991-</p>
				<p>-live in seoul-</p>
				<p>-student of UOS-</p>
				<p>-majored in industrial design-</p>
				<p>-maturity0324@gmail.com-</p>
				<a href="https://www.facebook.com/seongsook.jeon">https://www.facebook.com/seongsook.jeon</a>
			</ul>
			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

	</div>
	</center>

	
</body>
</html>