<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/preview.css" type="text/css"> 
</head>
<body style= "background-color:gray" >
	<center>
	<p>Do You Want to Know about me?</p>
	<a href=./main.html><button type="button" class="btn btn-primary">absolutely yes!</button></a>
	<a href=./main.html><button type="button" class="btn btn-warning">of course!</button></a>
	<a href=./main.html><button type="button" class="btn btn-danger">exactly what i want!</button></a>
	<a href=./main.html><button type="button" class="btn btn-success">why not?</button></a>
	</center>
</body>